<%-include('header')-%>
<div class="mt-5 text-center center-div" id="login">
    <div class="container border py-5 w-25">
<h2>welcome
    <h5><%=locals.user?user:"User"%></h5>
    <a href="/route/logout">Logout</a>

</h2>
</div>
</div>
<%-include('footer')-%>